/* made like ass but it is what it is. */

* {
	font-family: 'Cascadia Code', monospace;
	font-weight: 500;
	font-size: 15px;
}

#window {
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(0px);
	border-radius: 10px;
}

#input {
    background-color: rgba(27, 27, 27, 0.7);
    color: rgb(255, 255, 255);
	border: none;
	border-radius: 12px;
    font-weight: 700;
	font-size: 18px;
}

#input:focus {
	box-shadow: none;
}

#outer-box {
	padding: 5px;
}

#inner-box {
	background-color: rgba(27, 27, 27, 0.7);
	margin-top: 10px;
	border-radius: 12px;
	overflow: hidden;
}

.entry {
  	border: 3px solid transparent;
}

#entry {
    color: rgb(255, 255, 255);
	font-weight: 700;
}

#entry:selected {
    all: unset;
	font-weight: 700;
    border-radius: 7px;
	padding-left: 10px;
    color: white;
	background-color: rgba(19, 19, 19);
}

#entry:selected #text {
	color: rgb(255, 255, 255);
	font-weight: 800;
}

#entry:selected #img {
	color: white;        
}

/* hide the ugly ass scrollbar */

scrollbar {
    opacity: 0;
}